* {
    margin: 0;
    padding: 0;
}

header {
    width: 1000px;
    height: 120px;
    text-align: end;
    
}

.upper_header {
    height: 60px;
    background-color: #87ceeb;
}

.lower_header {
    height: 60px;
    background-color: #00ffff;
}

img {
    width: 200px;
    height: 120px;
    background-color: #add8e6;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    margin: 10px 100px;
}

.main thead {
    background-color: #87ceeb;
}

.main tbody {
    background-color: #e0ffff;
}

footer {
    width: 1000px;
    height: 120px;
    text-align: left;
    background-color: #00ced1;
}